<% if @success %>
  if($("#favorable_<%= @favorable_type.demodulize.underscore %>_<%= @favorable_id %>").length) {
    $("#favorable_<%= @favorable_type.demodulize.underscore %>_<%= @favorable_id %>")
      .attr('href', '<%= favorites_path(favorable_id: @favorite.favorable_id, favorable_type: @favorite.favorable_type) %>')
      .data('method', 'post')
      .html('<%= Spree.t(:add_favorite) %>:&nbsp;<button class="btn btn-success">&nbsp;&nbsp;<i class="glyphicon glyphicon-heart"></i>&nbsp;&nbsp;</button>')

    $("supplier-profile-picture  .favorite-icon").hide();
    $("#main-image .favorite-icon").hide();
  } else {
    $("#favorite_<%= @favorite.id %>").remove();
    $("supplier-profile-picture  .favorite-icon").hide();
    $("#main-image .favorite-icon").hide();
  }
  <% if !try_spree_current_user %>
    $('body').prepend('\
      <div style="z-index:100;display:block;background:rgba(0,0,0,0.3);width:100%;height:100%;position:fixed">\
        <div style="display:block;background:#fefefe;max-width:500px;margin:50px auto;text-align:center;padding:10px;border-radius:15px;">\
          <div style="text-align:right;" onclick="$(this).parent().parent().remove();"><i class="glyphicon glyphicon-remove"></i></div>\
          <h3 style="padding:40px;">Please sign in to continue:<br><br>\
            <a href="/signup">Sign Up</a>\
            <br><br>\
            <a href="/login">Sign In</a>\
          </h3>\
        </div>\
      </div>\
      ')
  <% end %>
<% end %>
